# Unnötige System-Ordner
__pycache__
*.pyc
venv/
.git/

# WICHTIG: Die riesigen Daten-Ordner ignorieren!
# Wir mounten diese später als "Volume" in Coolify.
files/
filtered_files/
results/
pipeline_plots/
filtered_examples/
